.main {
  max-width: 100vw;
  min-height: 100vh;
}

.header {
  padding: 8px;
  border-bottom: 2px solid gray;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3rem;
  padding: 1rem;
  background-color: black;
  color: white;
}

.footer a {
  color: white;
}
