.wrapper {
  --floor-thickness: 64px;
  position: relative;
  width: 9000px;
  height: 90vh;
  background-color: cornsilk;
  user-select: none;
}

.ceiling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 32px;
  background-color: darkgray;
}

.floor {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--floor-thickness);
  background-color: green;
}

.window {
  position: absolute;
  bottom: var(--floor-thickness);
  left: 300px;
  background-color: white;
  height: 70vh;
  width: 400px;
}

.jozia {
  position: absolute;
  bottom: var(--floor-thickness);
  scroll-margin: 40vw;
}
