.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  text-align: center;
}

.date {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
