@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

.backdrop {
  width: 100vw;
  height: var(--main-height);
}

.wrapper {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
}

.title {
  padding: 0 1rem;
  line-height: 1;
}

.row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.number {
  font-size: 250%;
  font-weight: 600;
}

.unit {
  font-size: 150%;
}
