@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

.backdrop {
  width: 100vw;
  height: var(--main-height);
  background: rgb(78, 164, 255);
  background: linear-gradient(
    90deg,
    rgba(78, 164, 255, 1) 0%,
    rgba(17, 130, 250, 1) 35%,
    rgba(9, 98, 191, 1) 100%
  );
}

.wrapper {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
  font-family: "Courgette", cursive;
}

.title {
  padding: 0 1rem;
}

.row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.number {
  font-size: 250%;
  font-weight: 600;
}

.unit {
  font-size: 150%;
}
