@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

.backdrop {
  --shadow-thickness: 2px;
  --leading-color: rgb(34, 34, 34);
  width: 100vw;
  height: var(--main-height);
  background: var(--leading-color);

  background: linear-gradient(
    90deg,
    rgba(34, 34, 34, 1) 0%,
    rgba(24, 24, 24, 1) 35%,
    rgba(0, 0, 0, 1) 100%
  );
  text-shadow: 0 0 var(--shadow-thickness) white,
    0 0 var(--shadow-thickness) white, 0 0 var(--shadow-thickness) white;
  font-weight: 800;
  color: black;
}

.wrapper {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
}

.title {
  padding: 0 1rem;
  line-height: 1;
}

.row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.number {
  font-size: 250%;
  font-weight: 600;
}

.unit {
  font-size: 150%;
}

.footNote {
  margin-top: 3rem;
  font-style: italic;
}
