.outer {
  background-image: url("/kwlk.png");
  background-size: 12px;
  overflow: hidden;
  --bright-color: #67e0b1;
  --dark-color: #ff421c;
}

.inner {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  min-height: 100vh;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  --border-spec: 6px solid var(--bright-color);
  border-left: var(--border-spec);
  border-right: var(--border-spec);
}

.header {
  text-align: center;
  font-size: 1.5rem;
}

.title {
  font-size: 4rem;
}

.feature {
  padding: 1rem;
  --border-spec: 1px solid gray;
  border-top: var(--border-spec);
  border-bottom: var(--border-spec);
}

.featureLink {
  display: block;
  margin-left: auto;
  width: fit-content;
  text-decoration: none;
}
